<div ng-controller="ScoreboardController as vm">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">

      <h1>Scoreboard</h1>

      <!-- player scores -->
      <div class="row text-center">
        <div ng-repeat="player in vm.getPlayers()" class="col-xs-6">
          <h2>Player <span ng-bind="player.name"></span>
            <br>
            <br>
            <span ng-bind="player.score"></span>
          </h2>
        </div>
      </div>

      <hr>

      <!-- tournament overview -->
      <div class="row text-class">
        <div class="col-xs-4"></div>
        <div class="col-xs-2">
          <h3 class="pull-right">Left</h3>
        </div>
        <div class="col-xs-2">
          <h3 class="pull-left" ng-bind="vm.getGamesLeft() || 0"></h3>
        </div>
        <div class="col-xs-4"></div>
      </div>

      <div class="row text-class">
        <div class="col-xs-4"></div>
        <div class="col-xs-2">
          <h3 class="pull-right">Draws</h3>
        </div>
        <div class="col-xs-2">
          <h3 class="pull-left" ng-bind="vm.getDraws() || 0"></h3>
        </div>
        <div class="col-xs-4"></div>
      </div>

      <hr>

      <!-- scoreboard controls -->
      <div class="row text-class"
           ng-if="vm.getGamesLeft() > 0">
        <div class="col-xs-2"></div>
        <div class="col-xs-3 su-game-type-btn" ng-click="vm.quit();">
          <h3>Abort</h3>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-3 su-game-play-btn" ng-click="vm.gameOn();">
          <h3>Game On!</h3>
        </div>
        <div class="col-xs-2"></div>
      </div>

      <div class="row text-class">
        <div class="col-xs-2"></div>
        <div class="col-xs-3 su-game-type-btn" ng-click="vm.quit();"
             ng-init="finishName='Finish'"
             ng-mouseenter="finishName='I\'m a coward'"
             ng-mouseleave="finishName='Finish'">
          <h3 ng-bind="finishName"></h3>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-3 su-game-play-btn" ng-click="vm.gameOn();">
          <h3>Again! Again!</h3>
        </div>
        <div class="col-xs-2"></div>
      </div>

    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
